* {
	background: #1d2021;
	color: #d4be98;
}

.newbie {
	color: #928374;
}
.pupil {
	color: #a9b665;
}
.specialist {
	color: #89b482;
}
.expert {
	color: #7daea3;
}
.candidateMaster {
	color: #d3869b;
}
.master {
	color: #d8a657;
}
.grandmaster {
	color: #ea6962;
}
.legendaryGrandmaster::first-letter {
	color: #d4be98;
}
