.newbie {
	color: #808080;
}
.pupil {
	color: #008000;
}
.specialist {
	color: #13ada4;
}
.expert {
	color: #0000ff;
}
.candidateMaster {
	color: #aa00aa;
}
.master {
	color: #ff8c00;
}
.grandmaster {
	color: #ff0000;
}
